<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1>All Trails</h1>
<div></div>
<% for (let trail of trails.reverse()) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if(trail.images && trail.images.length > 0) { %>
      <img
        crossorigin="anonymous"
        class="img-fluid"
        src="<%= trail.images[0].url %>"
      />
      <% } else { %>
      <img
        crossorigin="anonymous"
        class="img-fluid"
        src="https://res.cloudinary.com/dkj1iald3/image/upload/v1713847600/TrailYelp/kaohgngdzpi0hpfggtsc.jpg"
        alt="default trail image"
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= trail.title %></h5>

        <p class="card-text"><%= trail.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= trail.location %></small>
        </p>
        <a class="btn btn-primary" href="/trails/<%= trail._id %>">
          View <%= trail.title %>
        </a>
      </div>
    </div>
  </div>
</div>
<% } %>

<script>
  const mapBoxToken = "<%- process.env.MAPBOX_TOKEN %>";
  const trails = {features: <%- JSON.stringify(trails) %>}
</script>

<script crossorigin="anonymous" src="/javascripts/clustermap.js"></script>
